
.DS_Store

ScanNovel.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ScanNovel.xcodeproj/project.xcworkspace/xcuserdata/abc.xcuserdatad/UserInterfaceState.xcuserstate

ScanNovel.xcodeproj/xcuserdata/abc.xcuserdatad/xcschemes/ScanNovel.xcscheme

ScanNovel.xcodeproj/xcuserdata/abc.xcuserdatad/xcschemes/xcschememanagement.plist
