<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>笔趣阁</string>
		<key>URL</key>
		<string>http://www.biquge.com/</string>
		<key>class</key>
		<string>BQG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>520</string>
		<key>URL</key>
		<string>http://www.520xs.la/</string>
		<key>class</key>
		<string>520</string>
	</dict>
	<dict>
		<key>name</key>
		<string>书哈哈</string>
		<key>URL</key>
		<string>http://www.79xs.com/Book/ShowBookOver.aspx</string>
		<key>class</key>
		<string>SHH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乐文</string>
		<key>URL</key>
		<string>http://www.lwxs520.com/</string>
		<key>class</key>
		<string>LW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猫扑中文</string>
		<key>URL</key>
		<string>http://mpzw.com/</string>
		<key>class</key>
		<string>MP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乐读窝</string>
		<key>URL</key>
		<string>http://leduwo.com/</string>
		<key>class</key>
		<string>LDW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>混混</string>
		<key>URL</key>
		<string>http://www.hunhun520.com/</string>
		<key>class</key>
		<string>HH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>少年文学</string>
		<key>URL</key>
		<string>http://www.snwx.com/</string>
		<key>class</key>
		<string>SN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大海中文</string>
		<key>URL</key>
		<string>http://www.dhzw.com/</string>
		<key>class</key>
		<string>DH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>请看</string>
		<key>URL</key>
		<string>http://www.qingkan520.com/</string>
		<key>class</key>
		<string>QK</string>
	</dict>
</array>
</plist>
