<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>笔趣阁</string>
		<key>URL</key>
		<string>biquge.com/</string>
		<key>class</key>
		<string>BQG</string>
		<key>searchURL</key>
		<string>http://zhannei.baidu.com/cse/search?q=%@&amp;click=1&amp;s=287293036948159515&amp;nsid=</string>
	</dict>
	<dict>
		<key>name</key>
		<string>520</string>
		<key>URL</key>
		<string>520xs.la/</string>
		<key>class</key>
		<string>520</string>
		<key>searchURL</key>
		<string>http://zhannei.baidu.com/cse/search?q=%@&amp;click=1&amp;entry=1&amp;s=3475345448027295004&amp;nsid=</string>
	</dict>
	<dict>
		<key>name</key>
		<string>书哈哈</string>
		<key>URL</key>
		<string>79xs.com/Book/ShowBookOver.aspx</string>
		<key>class</key>
		<string>SHH</string>
		<key>searchURL</key>
		<string>http://zhannei.baidu.com/cse/search?q=%@&amp;click=1&amp;s=287293036948159515&amp;nsid=</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乐文</string>
		<key>URL</key>
		<string>lwxs520.com/</string>
		<key>class</key>
		<string>LW</string>
		<key>searchURL</key>
		<string>http://zhannei.baidu.com/cse/search?s=103623352827404213&amp;q=%@&amp;isNeedCheckDomain=1&amp;jump=1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猫扑中文</string>
		<key>URL</key>
		<string>mpzw.com/</string>
		<key>class</key>
		<string>MP</string>
		<key>searchURL</key>
		<string>http://zhannei.baidu.com/cse/search?q=%@&amp;entry=1&amp;s=1462921654728649351&amp;nsid=</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乐读窝</string>
		<key>URL</key>
		<string>leduwo.com/</string>
		<key>class</key>
		<string>LDW</string>
		<key>searchURL</key>
		<string>http://zhannei.baidu.com/cse/search?q=%@&amp;click=1&amp;s=287293036948159515&amp;nsid=</string>
	</dict>
	<dict>
		<key>name</key>
		<string>混混</string>
		<key>URL</key>
		<string>hunhun520.com/</string>
		<key>class</key>
		<string>HH</string>
		<key>searchURL</key>
		<string>http://www.hunhun520.com/book/%@/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>少年文学</string>
		<key>URL</key>
		<string>snwx.com/</string>
		<key>class</key>
		<string>SN</string>
		<key>searchURL</key>
		<string>http://www.snwx.com/modules/article/search.php?searchkey=%@</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大海中文</string>
		<key>URL</key>
		<string>dhzw.com/</string>
		<key>class</key>
		<string>DH</string>
		<key>searchURL</key>
		<string>http://zhannei.baidu.com/cse/search?q=%@&amp;click=1&amp;s=287293036948159515&amp;nsid=</string>
	</dict>
	<dict>
		<key>name</key>
		<string>请看</string>
		<key>URL</key>
		<string>qingkan520.com/</string>
		<key>class</key>
		<string>QK</string>
		<key>searchURL</key>
		<string>http://www.qingkan520.com/book/%@/</string>
	</dict>
</array>
</plist>
